$main-yellow: rgba(252,227,138,1);
$main-red: rgba(243,129,129,1);
$gradient-color-yellow: rgba(252,227,138,0.8);
$gradient-color-red: rgba(243,129,129,0.8);
$main-green: #95e1d3;
$large-text-color: #333333;
$small-text-color: #999999;

